body {
	  background-size: cover;
  height:100%;
    margin: 0;
    text-align: center;
 }
#top {
 background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #56ccf2, #2f80ed); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #56ccf2, #2f80ed);
}
#top h1 {
	text-align: center;
	line-height: 160px;
	color: #FFFFFF;
	font-size: 80px;
	font-family: 'Gulim';
}
#top h1 a {
	text-decoration: none;
}
#top h1 a:visited {
	color: #FFFFFF;
}
#top h1 a:hover {
	text-decoration: none;
}
.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.editor {
 display: inline-block;
  text-align: left;
}
