.back{
	background-color:#ffffaf
}

.top {
	background: #56ccf2; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #56ccf2, #2f80ed);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #56ccf2, #2f80ed);
	margin: 0px;
	padding: 0px;
}

.top h1 {
	text-align: center;
	line-height: 120px;
	color: #FFFFFF;
	font-size: 80px;
	font-family: 'Gulim';
}

.top h1 a {
	text-decoration: none;
	color: #FFFFFF;
}

.top h1 a:visited {
	color: #FFFFFF;
}

.top h1 a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.kumakuma {
	line-height: 0;
	margin: -16px 0px 0px 0px;
}

figure.photo-center {
	text-align: center;
	width: 80px;
}

img.kuma1 {
	width: 960px;
	height: 550px;
}

img.kuma2 {
	width: 960px;
	height: 550px;
	margin-top:80px;
}

.prof {
	text-align: center;
	padding: 50px;
	font-size: 23px;
	color: blue;
	font-style: normal;
}

.prof a {
	text-decoration: underline;
	color: blue;
	font-style: normal;
}

.prof a:visited {
	color: blue;
	text-decoration: underline;
	font-style: normal;
}

.prof a:hover {
	text-decoration: underline;
	font-style: normal;
}