img{
	width: 370px;
	height: 250px;
	margin:0;
}

.top {
 background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #56ccf2, #2f80ed); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #56ccf2, #2f80ed);
    margin:0px;
  padding:0px;
}

.top h1 {
	text-align: center;
	line-height: 120px;
	color: #FFFFFF;
	font-size: 80px;
	font-family: 'Gulim';
}

.top h1 a {
	text-decoration: none;
		color: #FFFFFF;
}

.top h1 a:visited {
	color: #FFFFFF;
}

.top h1 a:hover {
    text-decoration:none;
   	color: #FFFFFF;
}

.center {
 text-align: center;
}

.stepupP{
	font-size: 30px;
	font-family: 'Gulim';
	color: #555;
}

.stepup {
	font-size: 40px;
	font-family: 'Gulim';
	color: #555

}

.three .ch {
  width: 400px;
  margin: 5px;
  padding: 5px;
}

.three{
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}

.rela {
    position: relative;
}
.abso {
    position: absolute;
    bottom: 50px;
    color: #fff;
    background: #000;
    background: rgba(0,0,0,0.6);
    width: 92.5%;
    max-width: 400px;
    padding: 1em 0;
}

.abso p {
    margin: 0;
    padding: 0 0.8em;
    font-size: 330%;
    text-align: center;
}

.profS{
	text-align: center;
	padding: 50px;
		font-size: 23px;
	color: #fff;
}

.profS a {
	color: #fff;
}

.profS a:visited {
	color: #fff;
}

.profS a:hover {
	text-decoration: none;
		color: #ffd700;
}

.sample1 img{
	width: 31%;
	height: auto;
	margin: 20px 0px 0px 66px;
	border: solid #000;
	border-width: 1.2px;
}

footer {
	text-align: right;
	width: 900px;
	padding: 10px 80px 60px 80px;
	line-height: 150%
}

.prof{
	text-align: center;
	padding: 50px;
		font-size: 23px;
	color: black;
	    font-style:normal;
}

.prof a {
	    text-decoration:underline;
	color: black;
	    font-style:normal;
}

.prof a:visited {
	color: black;
	    text-decoration:underline;
	        font-style:normal;
}

.prof a:hover {
    text-decoration:underline;
	    font-style:normal;
}

.box26 {
    position: relative;
    margin: 30px;
      width: 200px;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
        border-radius: 4px;
          margin: 50px 100px 25px 65px;
}

.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box26 p {
    margin: 0;
    padding: 0;
}

.box27 {
    position: relative;
    margin: 30px;
      width: 200px;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
        border-radius: 4px;
          margin: 50px 40px 50px 60px;
}

.box27 .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box27 p {
    margin: 0;
    padding: 0;
}

.box28 {
    position: relative;
    margin: 30px;
      width: 200px;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
        border-radius: 4px;
          margin: 50px 0px 50px 60px;
}

.box28 .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box28 p {
    margin: 0;
    padding: 0;
}

.sample1 img{
	width: 90%;
	height: auto;
	margin: 10px 50px 0px 30px;
	border: solid #000;
	border-width: 1.5px;
}

.three .ch {
  width: 400px;
  margin: 5px;
  padding: 5px;
}

.three{
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}

.kiji{
font-size:20px;

margin:0;
}
