
/* superuserUpdateConfirmのフォーム枠 */
.formBox-sUC {
	width: 800px;
	height: 920px;
	margin: 30px auto;
	padding: 20px;
	border: 5px solid #555;
	border-radius: 20px;
}
/* superuserUpdateConfirmのフォームタイトル */
.form-title {
	font-size: 40px;
	text-align: center;
	color: #FFF;
	margin: 35px 0px 0px 0px;
	font-family: 'GlimChe';
}
/* superuserUpdateConfirmの確認メッセージ */
.form-msg {
	text-align:center;
	font-size: 200%;
	font-family: 'Gulim';
	margin: 90px 0px 0px 0px;
	color: #FFF;
}
/* superuserUpdateConfirmのログインID表示 */
.form-id {
	width 100%;
	margin: 29px 0px -82px -350px;
}
/* superuserUpdateConfirmの変更前 */
.form-before {
	font-size: 40px;
	text-align: center;
	color: #FFF;
	margin: 35px 0px 0px 0px;
	font-family: 'GlimChe';
}
/* superuserUpdateConfirmの変更後 */
.form-after {
	font-size: 40px;
	text-align: center;
	color: #FFF;
	margin: 35px 0px 0px 0px;
	font-family: 'GlimChe';
}
.idText {
	width 100%;
	margin: 29px 0px -82px -350px;
}
.id {
	margin: 33px 0px 0px 20px;
    margin-bottom: 40px;
    }
/* superuserUpdateConfirmのPASSテキスト表示 */
.passText {
	width 100%;
	margin: 0px 4px -82px 0px;
}
/* superuserUpdateConfirmのPASS表示 */
 .pass {
	margin: 33px 0px 0px 20px;
	margin-bottom: 40px;
 }
/* superuserUpdateConfirmの変更矢印 */
.updateArrow {
	text-align:center;
	font-size: 300%;
	font-family: 'Gulim';
	margin: 40px 0px 0px 0px;
	color: #FFF;
}
/* superuserUpdateConfirmの確認ボタン */
.btn-sUC{/*ボタンの背景*/
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 40px;/*高さ*/
  width: 120px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 22px;/*文字のサイズ*/
  line-height: 35px;/*高さと合わせる*/
  margin: -10px 0px 0px 500px;
  background: #1da1f3;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  font-weight: bold;
}

.formInsert{
    width: 800px;
    height: 550px;
    margin: 30px auto;
    padding: 20px;
    border: 5px solid #555;
    border-radius: 20px;
  background: #ffb347; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffb347, #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffb347, #ffcc33);
    }

.headS {
	text-align:center;
	font-size: 200%;
	margin: 18px 0px 0px 0px;
	color: #FFF;
}
.formAdInCon{
    width: 800px;
    height: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 5px solid #555;
    border-radius: 20px;

background: #004ff9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004ff9, #fff94c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004ff9, #fff94c);
    }
input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 6px;
    font-size: 17px;
    }

.btn-sUC .fa-twitter3 {
    text-shadow: 2px 2px 0px #4287d6;
    font-size: 30px;
}

.btn-sUC span {/*テキスト*/
font-family: 'Gulim';
  display:inline-block;
  transition: .5s}

.btn-sUC:hover span{/*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

table.price {
	width: 1000px;
	height: 370px;
	margin: 0px 0px 8px 186px;
	border-collapse: separate;
	border-spacing: 1px 0;
	font-size: 15px;
}
table.price th,
table.price td {
	padding: 10px;
}
table.price th {
	box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset;
	border-radius: 5px 5px 10px 10px;
	background: #88b7d5;
	vertical-align: middle;
	text-align: center;
	width: 125px;
	height: 50px;
	position: relative;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	font-size: 24px;
}

table.price th.c1 {
	background: rgb(162,206,26); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(97,174,36,1) 1%, rgba(86,155,32,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(97,174,36,1)), color-stop(100%,rgba(86,155,32,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(97,174,36,1) 1%,rgba(186,155,32,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(97,174,36,1) 1%,rgba(86,155,32,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(97,174,36,1) 1%,rgba(86,155,32,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(97,174,36,1) 1%,rgba(86,155,32,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61ae24', endColorstr='#569b20',GradientType=0 ); /* IE6-9 */
}

table.price th.c2 {
	background: rgb(237,73,147); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(204,20,69,1) 1%, rgba(182,17,61,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(204,20,69,1)), color-stop(100%,rgba(182,17,61,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(204,20,69,1) 1%,rgba(182,17,61,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(204,20,69,1) 1%,rgba(182,17,61,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(204,20,69,1) 1%,rgba(182,17,61,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204,20,69,1) 1%,rgba(182,17,61,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1445', endColorstr='#b6113d',GradientType=0 ); /* IE6-9 */
}

table.price th.c3 {
	background: rgb(29,140,233); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(17,63,140,1) 1%, rgba(15,56,125,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(17,63,140,1)), color-stop(100%,rgba(15,56,125,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(17,63,140,1) 1%,rgba(15,56,125,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(17,63,140,1) 1%,rgba(15,56,125,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(17,63,140,1) 1%,rgba(15,56,125,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(17,63,140,1) 1%,rgba(15,56,125,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#113f8c', endColorstr='#0f387d',GradientType=0 ); /* IE6-9 */
}

table.price th.c4 {
	background: rgb(255,128,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,128,0,1) 1%, rgba(255,128,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,128,0,1)), color-stop(100%,rgba(255,128,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,128,0,1) 1%,rgba(255,128,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,128,0,1) 1%,rgba(255,128,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,128,0,1) 1%,rgba(255,128,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,128,0,1) 1%,rgba(255,128,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8000', endColorstr='#ff8000',GradientType=0 ); /* IE6-9 */
}

table.price th:after {
	top: 69px;
	left: 90px;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border: 78px solid transparent;
}
/* firefox */
@-moz-document url-prefix() {
	table.price th {
		text-indent: 10px;
	}
	table.price th::after {
		padding: 0;
		top: 60px;
		left: 0;
		content: "";
		height: 0;
		width: 0;
		position: relative;
		pointer-events: none;
		border: 50px solid transparent;
		border-top: #B7D567 15px solid;
	}
}
table.price th.c1:after {
	border-top: #569b20 15px solid;
}
table.price th.c2:after {
	border-top: #b6113d 15px solid;
}
table.price th.c3:after {
	border-top: #0f387d 15px solid;
}
table.price th.c4:after {
	border-top: #ff8000 15px solid;
}

table.price td {
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
	text-align: center;
	padding-top: 15px;
	border: none;
	height: 70px;
}

table.price tr:nth-child(2n+1) td.c1 {
	background: #eee;
}
table.price tr:nth-child(2n+0) td.c1 {
	background: #eee;
}

table.price tr:nth-child(2n+1) td.c2 {
	background: #eee;
}
table.price tr:nth-child(2n+0) td.c2 {
	background: #eee;
}

table.price tr:nth-child(2n+1) td.c3 {
	background: #eee;
}
table.price tr:nth-child(2n+0) td.c3 {
	background: #eee;
}

table.price tr:nth-child(2n+1) td.c4 {
	background: #eee;
}
table.price tr:nth-child(2n+0) td.c4 {
	background: #eee;
}


table.price tr:last-child td {
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

table.price tr:last-child td button {
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #ffaa22;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	background:-ms-linear-gradient( top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffec64), color-stop(100%, #ffab23) );
	background-color:#ffec64;
	color:#333333;
	display:inline-block;
	text-shadow:1px 1px 0px #ffee66;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #fff6af;
 	-moz-box-shadow:inset 1px 1px 0px 0px #fff6af;
 	box-shadow:inset 1px 1px 0px 0px #fff6af;
}
table.price tr:last-child td button:hover {
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	background:-ms-linear-gradient( top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffab23), color-stop(100%, #ffec64) );
	background-color:#ffab23;
}
table.price tr:last-child td button {
	position:relative;
	top:1px;
}

.sMimg1 {
	width: 11%;
	height: auto;
	margin: 0px -4px -310px 280px;
}

.sMimg2 {
	width: 9%;
	height: auto;
	margin: -20px 0px -300px 190px;
}

.sMimg3 {
	width: 9%;
	height: auto;
	margin: -20px 0px -300px 200px;
}

.sMimg4 {
	width: 8%;
	height: auto;
	margin: -20px 0px -300px -360px;
}

.Smsg {
	font-size: 30px;
	text-align: center;
	margin: -50px 0px -10px 0px;
	color: #fff;
}

.form-titleaI {
	font-size: 40px;
	text-align: center;
	color: #000;
	margin: 35px 0px 0px 0px;
	font-family: 'GlimChe';
}

.form-msgaI {
	text-align:center;
	font-size: 200%;
	font-family: 'Gulim';
	margin: 90px 0px 0px 0px;
	color: #000;
}